<!DOCTYPE html>

<html>
    <head>
        <title>
            DevTorajd Twitter App - Policy
        </title>
    </head>
    <body>
        <div>
            <h3>App permissions</h3>
            <p>Third-party apps may request access to perform different actions using your Twitter account. Apps may ask for the following permissions to access certain information in your account and take certain actions:</p>
            <p><u>Read<br />
            </u>Apps with read access to your Twitter account will have the ability to:</p>
            <ul><li><p>Profile information: View your profile information, such as your name, location, description, and profile and header photos. Note that the email address associated with your Twitter account and your phone number are not considered profile information. An app will not be able to view your email address unless you grant the app specific permission to do so. </p>
            </li><li><p>Tweets: View your Tweets (including details such as the number of times a Tweet has been viewed and the interactions others have with a Tweet) and Tweets from accounts you follow on your timeline, including any protected Tweets. </p>
            </li><li><p>Account settings: View your account settings, such as your preferred language and time zone. </p>
            </li><li><p>Other accounts: See who you follow, mute, and block.</p>
            </li><li><p>Lists: View your Lists of Twitter accounts.</p>
            </li><li><p>Collections: View your collections of Tweets.</p>
            </li></ul>
            <p><u>Read and Write<br />
            </u>Apps with read and write access to your Twitter account will have access to view your information as described in the Read section above, and will also have the ability to:</p>
            <ul><li><p>Profile information: Update your profile information for you. </p>
            </li><li><p>Tweets: Post Tweets and media on your behalf, delete Tweets for you, and engage with Tweets posted by others for you (for example, like, un-like, or reply to a Tweet, Retweet, etc.). </p>
            </li><li><p>Account settings: Manage your account settings for you. </p>
            </li><li><p>Other accounts: Follow and unfollow accounts for you, and mute, block, or report accounts on your behalf.</p>
            </li><li><p>Lists: Create Lists of Twitter accounts for you, manage your Lists (for example, add and remove accounts from Lists) for you, and delete your Lists for you.</p>
            </li><li><p>Collections: Create collections of Tweets for you, manage your collections (for example, add and remove Tweets from collections) for you, and delete your collections for you. </p>
            </li></ul>
            <p><u>Read, Write, and Direct Messages<br />
            </u>Apps with read, write, and Direct Message access to your Twitter account will have access to view your information and take actions as described above in the Read and Write sections, and will also have the ability to: send Direct Messages for you, view Direct Messages you’ve sent and received, and manage and delete your Direct Messages. Remember that each communication participant has their own copy of the communication — deletion of a Direct Message will remove it from your account, not the accounts of the other participants to the communication.</p>
            <p><u>Email Address<br />
            </u>In addition to the permissions above, apps may also ask for permission to view the email address associated with your Twitter account.</p>
            <p><u>Twitter Ads<br />
            </u>If you use Twitter Ads, apps may also ask to:</p>
            <ul><li><p>Analytics: Access your advertising data, including your campaigns, audiences, business and ad account information (such as account name, ID, and creation date, business name, timezone, and users), ad account and user settings (such as notification email, contact phone number and extensions, industry type, email subscription settings, and tax settings), and creatives and media.</p>
            </li><li><p>Campaign and account management: Access your advertising data as described above, create and manage your advertising data (such as media, creatives, campaigns, and audiences) for you, and manage your account (such as account name, industry type, account and user settings, etc.).  </p>
            </li></ul>
            <p>Learn more about granting access to your Twitter Ads account with <a href="https://business.twitter.com/en/help/troubleshooting/multi-user-login-faq.html" target="_blank" rel="nofollow noopener noreferrer">multi-user login</a>.</p>
            <p>We do not share your Twitter password with apps. Remember that when you authorize an app to access your Twitter account or take actions on your behalf, the app may use, store, and share your information in accordance with its own business practices. While app developers agree to abide by our rules and guidelines, we strongly recommend that you review an app’s terms and privacy policy before you authorize the app to access your account.</p>
            <p>Learn more about our rules and guidelines for third-party app developers in our <a href="https://developer.twitter.com/en/developer-terms/policy.html" rel="nofollow">Developer Policy</a>.</p>
            <p> </p>
    </div>
    </body>
</html>